<% include admin-header %>

<link rel="stylesheet" href="/libs/editor.md/css/editormd.css" />
<link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />

<style type="text/css">
	.row{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	div[class^="col-"] {
  	padding-left: 10px;
		padding-right:10px; 
	}
</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6">
      <input type="text" class="form-control" id="titleInput" name="title" placeholder="请输入文章标题" <% if(post){ %>value=<%= post.title %><% } %>
      >
	  </div>
	  <div class="col-xs-4">
    	<input type="text" class="form-control" id="tagsInput" name="title" placeholder="请输入标签，用逗号隔开" <% if(post){ %>value=<%= post.tags %><% } %> >
	  </div>
    <div class="col-xs-1">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="auto-sync" checked="checked"> 自动同步
        </label>
      </div>
    </div>
	  <div class="col-xs-1">
      <button class="btn btn-success btn-block" id="submit-post"  
        <% if(post){ %> post_id=<%= post._id %> <% } %> 
      >
      <% if(post){ %>
        更新
      <% }else{%>
        发布
      <% } %>
      </button>
	  </div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<textarea class="form-control" id="introInput" rows="2" placeholder="请输入文章概述"><% if(post){ %><%= post.intro %><% } %></textarea>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div id="editor">
		  	<textarea style="display:none;"><% if(post){ %><%= post.md %><% } %></textarea>
			</div>	
		</div>
	</div>
</div>

<script src="/libs/editor.md/examples/js/jquery.min.js"></script>
<script src="/libs/editor.md/editormd.js"></script>
<script type="text/javascript">
var editor;
$(function() {
  editor = editormd('editor', {
      weight: "100%",
      height: 840,
      path: "/libs/editor.md/lib/",
      saveHTMLToTextarea: true,
      emoji: true,
      taskList: true,
      tocm: true,
      tex: true, // 开启科学公式TeX语言支持，默认关闭
      // flowChart: true, // 开启流程图支持，默认关闭
      // sequenceDiagram: true, // 开启时序/
      toolbarAutoFixed:false,
      toolbarIcons: function() {
          return ["undo", "redo", "|",
              "ucwords", "uppercase", "lowercase", "|",
              "list-ul", "list-ol", "hr", "|",
              "link", "reference-link", "image", "code", "code-block", "table", "emoji", "html-entities", "|",
              "watch", "preview", "search", "help"
          ]
      }
  });
});

function getData(){
  return {
    title: $("#titleInput").val(),
    tags: $("#tagsInput").val(),
    intro: $("#introInput").val(),
    md: editor.getMarkdown(),
    html: editor.getHTML()
  };
}

function newPost(){
  $.ajax({
      type: 'POST',
      url: '/admin/p/new',
      data: getData(),
      success: function(data) {
        $("#submit-post").attr("post_id",data.post_id);
      },
      dataType: 'json'
  });
}
function updatePost(){
   $.ajax({
      type: 'POST',
      url: "/admin/p/update/" + $("#submit-post").attr("post_id"),
      data: getData(),
      success: function(data) {
      },
      dataType: 'json'
  });
}

$("#submit-post").click(function(){
  if($("#submit-post").attr("post_id")){
    updatePost()
  }
  else{
    newPost();
  }
  window.location.href="/admin/posts";
});

function toast(message){
  $(".toast").text(message);
  $(".toast").fadeIn("slow")
  setTimeout(function(){
    $(".toast").fadeOut("slow");
  },5000);
}

function autoSave(){
  if(!$("#titleInput").val())
  {
    return;
  }
  if($("#submit-post").attr("post_id"))
  {
    updatePost();
    toast("自动同步");
  }
  else{
    newPost();
    toast("自动同步");
  }
}

var interval_id;
$("#auto-sync").change(function(){
  if($("#auto-sync").is(':checked')){
     interval_id = setInterval(autoSave,60000);
  }
  else{
    clearInterval(interval_id);
  }
});
$("#auto-sync").change();

</script>

<% include admin-footer %>