<div class="container-fluid">
	<div class="row">
		<div class="col-xs-11"></div>
		<div class="col-xs-1">
			<a href="/admin/#nav:posts,target:edit,_id:undefined" class="btn btn-success btn-block">写文章</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
		  <div class="panel panel-default">
				<table class="table table-hover">
	          <thead>
	              <tr>
	                  <th>标题</th>
	                  <th>日期</th>
	                  <th>标签</th>
	                  <th>操作</th>
	              </tr>
	          </thead>
	          <tbody>
	          <% posts.forEach(function(post,index){ %>
							<tr>
	              <th><a href="/p/<%= post._id %>" target="blank"><%= post.title %></a></th>
	              <td><%= post.time.getFullYear() %>-
	          				<%= post.time.getMonth()+1 %>-
	              		<%= post.time.getDate() %>
	              </td>
	              <td><%= post.tags %></td>
	              <td>
	              	<a href="/admin/#nav:posts,target:edit,_id:<%= post._id %>" class="btn btn-primary btn-xs">编辑</a>
									<a href="/admin/#nav:posts,method:delete,_id:<%= post._id %>" class="btn btn-default btn-xs">删除</a>
	              </td>
	            </tr>
	          <% }) %>
	              
	          </tbody>
	      </table>
			</div>
		</div>
	</div>  
</div>
