<%- include header %>
    <link rel="stylesheet" href="/libs/editor.md/css/editormd.css" />
    <h1 class="post-title" style="border-bottom:1px dashed #eee;padding-bottom:10px;margin-bottom:10px">
	<%= post.title %>	
</h1>
    <div>
        tags:
        <% post.tags.forEach(function(tag){ %>
            <a href="/tags/<%= tag %>">
                <%= tag %>
            </a>
            <% }) %>
                |
                <%= post.time.getFullYear() %>-
                    <%= post.time.getMonth()+1 %>-
                        <%= post.time.getDate() %>
                            <%= post.time.getHours() %>:
                                <%= post.time.getMinutes() %>:
                                    <%= post.time.getSeconds() %>
    </div>
    <div id="test-editormd-view" class="markdown-body editormd-html-preview">
        <%- post.html %>
    </div>
    <div class="comment">
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="<%= post._id %>" data-title="<%= post.title %>" data-url="http://localhost:3000/p/<%= post._id %>"></div>
        <!-- 多说评论框 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
        var duoshuoQuery = {
            short_name: "heweipeng"
        };
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';
            ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
        </script>
        <!-- 多说公共JS代码 end -->
    </div>
    <%- include footer %>
