<%- include header %>
<link rel="stylesheet" href="/github-markdown-css/github-markdown.css"/>
<link rel="stylesheet" href="/highlight.js/styles/github.css"/>
<div class="post-wrapper">
    <h1 class="post-title">
        <%= post.title %>
    </h1>
    <div class="post-meta">
        <span class="post-meta-time">发表于 <%= post.time.day %></span>
        |
        <span  class="post-meta-tag">
            <% post.tags.forEach(function(tag){ %>
            <a href="/tag/<%= tag %>">
                <%= tag %>
            </a>
            <% }) %>
        </span>
    </div>
    <div class="markdown-body">
        <%- post.html %>
    </div>
</div>
<%- include footer %>
