<% include header %>
<div class="main-tag">
    <div class="tag_panel">
        <span class="tag_list">
            <% tags.forEach(function(tag, index){ %>
            <a href="/tag/<%= tag %>"><%= tag %></a>
            <% }) %>
        </span>
    </div>
    <% var lastYear = 0 %>
    <% posts.forEach(function(post, index){ %>
    <% if(post.time.yaer != lastYear){ %>
    <% lastYear = post.time.year %>
    <h2 class="archive-year"><%= lastYear %>年</h2>
    <% } %>
    <li class="archive-post">
        <a class="archive-post-title" href="/post/<%= post._id %>"><%= post.title %></a>
        <span class="archive-post-meta">
            <span class="archive-post-time"><%= post.time.day %></span>
            <span class="archive-post-tag">
                <% post.tags.forEach(function(tag){ %>
                <a href="/tag/<%= tag %>">
	            <%= tag %>
                </a>
                <% }) %>
            </span>
        </span>
    </li>
    <% }) %>
</div>
<% include footer %>